<!-- <!DOCTYPE html>
<html>
<head>
    <title>Task-Manager-App</title>
</head>
<body>
    <h1>About Us</h1>

    <a href="login">Login</a> <br>
    <a href="signup">Signup</a> <br>
    <a href="#">About</a> <br>
    <a href="/">Home</a> <br>

</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Task-Manager</title>   
    
    <link rel='icon' href='/background/logo.jpg' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
  </head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="color: #fed136;"><img src="/background/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Task-Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="signup">Signup</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link active" href="#">About</a>
                    </li>
                </ul>
            </div>
    </nav> 
    
    <div class="container">
            <div class="row">
                 <div class="col col-1">
                 </div>
                 <div class="col col-10">
                    <br><br><br>
                   <h1 class="h1 mb-3 font-weight-normal text-center" style="font-family: 'Kaushan Script';">ABOUT</h1>
                     <br>
                    <p class="text-justify font-weight-light mb-0">This is Task Management website where users can manage their tasks easily. Users can simply login and utilize the features of this website. This website is fully responsive so you must know that this website will look great on any device, whether it's a phone, tablet, or desktop the website will remain responsive!
                  This website is user friendly. Simple navigation provided to all the users throughout the website.</p><br>
                 </div>
                 <div class="col col-1">
                 </div>
            </div>
               <div class="row">
                   <div class="col col-1">
                   </div>
                   <div class="col col-10 text-center">
                       <img class="rounded-circle shadow p-3 mb-2 bg-white rounded" src="/background/me.jpg" alt="" width="250" height="250">
                       <h4>Gourav Hammad</h4>
                       <h6>(Developer)</h6>
                       <p class="font-weight-light mb-0 small">"Keep supporting us and we will provide more facilities to you :)"</p><br>
                    </div>
                   <div class="col col-1"></div>
               </div>
               <div class="row">
                   <div class="col col-1"></div>
                   <div class="col col-10"><p class="h6 font-weight-light text-center text-white shadow-lg bg-dark rounded p-3"> Incase of any query, you can mail us on: <strong>gouravhammad477@gmail.com</strong></p></div>
                   <div class="col col-1"></div>
              </div>
    </div>

     <br>   
    <footer class="py-4 mt-4 bg-dark">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Task Manager 2019</p>
        </div>
    </footer>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
      
</body>
</html>
    