<!-- <!DOCTYPE html>
<html>
<head>
    <title>Task-Manager-App</title>
</head>
<body>
    <h1>Have you completed this task?</h1>
    <a href="changeTaskStatus?title=<%=title%>">Yes</a> <br>
    <a href="home">No</a> <br> 

   <br>

   <a href="home">Home</a> <br>
   <a href="profile">View Profile</a> <br>
   <a href="updateProfile">Update Profile</a> <br>
   <a href="addTask">ADD TASK</a> <br>
   <a href="manageTask">MANAGE TASK</a> <br>
   <a href="allTask">ALL TASK</a> <br>
   <a href="logout">Logout</a> <br>

</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Task-Manager</title>   
    
    <link rel='icon' href='/background/logo.jpg' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
  </head>

<body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#" style="color: #fed136;"><img src="/background/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Task-Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="home">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="addTask">Add Task</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="allTask">Your Tasks</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="manageTask">Manage Task</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link" href="profile">Profile</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="updateProfile">Update Profile</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="logoutConfirmation">Logout</a>
                        </li>
                    </ul>
                </div>
        </nav> 
    
<div class="container">
        <div class="row mt-4">
                <div class="col text-center mt-4">
                    <br><br><br><br>
                        <h2 class="h2 mb-3 font-weight-normal text-center" style="font-family: 'Kaushan Script';">Have you completed this task?</h2>
                </div> 
         </div> 
    
         <div class="row">
                <div class="col col-2"></div>
                <div class="col col-8 mt-2 mb-3">
                        <div class="card h-100">
                            <div class="card-footer bg-white border border-white shadow-lg p-3 bg-white rounded">
                                <div class="row">
                                    <div class="col text-center">
                                        <a  href="changeTaskStatus?title=<%=title%>" class="btn btn-success btn-block btn-lg">Yes</a>
                                    </div>
                                    <div class="col text-center">
                                        <a href="home" class="btn btn-danger btn-block btn-lg">No</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col col-2"></div>
        </div>
</div>
  
    <footer class="py-4 bg-dark fixed-bottom">
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Task Manager 2019</p>
        </div>
    </footer>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
      
</body>
</html>
    